/*
author: Akashdeep Singh;
filename: contacts.css;
Date: 9 December 2018;
*/

/**********************************
CONTACT SECTION
***********************************/
.section-contact{
  width:80%;
  margin: 0 auto;
}

.section-form{
  margin-top: 3rem;
}

form {
  max-width: 80%;
  margin: 10px auto;
  padding: 10px 20px;
  background: rgb(244,247,248);
  border-radius: 8px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea{
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: rgb(232,238,239);
  color: rgb(138,151,160);
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

button.form-submit  {
  margin-bottom: 1rem;
}

label{
  font-size:1.5rem;
}

textarea{
  resize: none;
}

/**********************************
MEDIA QUERIES
***********************************/
@media only screen and (max-width: 576px)
{
  form{
    max-width: 100%;
  }
  .section-contact{
    width: 100%;
  }
}
