.section-portfolio{
  width:80%;
  margin: 0 auto;
}

.section-cards{
  margin-top:4rem;
}

.card{
  margin-top:2rem;
}

img{
  background-size: cover;
  background-position: center center;
  padding:1rem;
}


@media only screen and (max-width: 576px)
{
  .section-portfolio{
    width:100%;
  }

  .header-text{
    margin-left: 4.5rem;
  }

}
