.section-portfolio{
  width:80%;
  margin: 0 auto;
}

.section-cards{
  margin-top:4rem;
}

.card{
  margin-top:2rem;
}


@media only screen and (max-width: 576px)
{


  .header-text{
    margin-left: 4.5rem;
  }

}
